body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f3f4f6;
}

header {
    background-color: #ffcb05;
    padding: 20px;
}

#evolution-chain-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.pokemon-slot {
    border: 2px solid #000;
    padding: 10px;
    width: 150px;
    text-align: center;
}

.pokemon-slot img {
    width: 100px;
}

#submit-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

#submit-btn:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: green;
}
