/* Fonte moderna */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Para o Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #ff9900  #f6e086;
}

/* Firefox scrollbar track e thumb */
*::-webkit-scrollbar-track {
    background-color: #fdedac;
}

*::-webkit-scrollbar-thumb {
    background-color: #ffcc00;
    scrollbar-width: 20px; 
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #333;
    color: #f9f9f9;
    line-height: 1.6;
}

/* Estilização da barra de navegação */
.banner-principal {
    font-family: 'Arial', sans-serif;
    background-color: #78C850;
    background: url(images/banner3.png) no-repeat center center fixed;
    background-size: cover;
    color: #333;
    width: 100%;
    height: 100vh;
    border-end-end-radius: 20%;
    border-end-start-radius: 20%;
    top: 0;
    box-shadow: 0 4px 500px rgba(20, 20, 210, 0.9);
}

header h1, .banner-principal h1{
    display: flex;
    justify-content: center;
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 6rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
}
.banner-principal h1:hover{
    color: #B8A038;
}
/* Cards de Pokémon */
/* Layout de contêiner para o Pokedex */
#pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adapta para tamanhos diferentes */
    gap: 20px;
    padding: 2% 8%;
    justify-content: center;
    align-items: stretch;
}

/* Estilo do card de Pokémon */
.pokemon-card {
    background: linear-gradient(to bottom right, var(--pokemon-color), #ffffff);
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(20, 20, 210, 0.3);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    min-height: 280px; /* Mantém todos com o mesmo tamanho mínimo */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pokemon-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Imagem do Pokémon */
.pokemon-card img {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    object-fit: contain;
}

/* Nome e ID do Pokémon */
.pokemon-card h2 {
    font-size: 1.4rem;
    color: #f9f9f9;
    margin: 10px 0;
}

/* Informações sobre o tipo */
.pokemon-card p {
    margin: 5px 0;
}


.pokemon-type {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 12px;
    font-weight: bold;
    color: #333;
    display: inline-block;
    margin-right: 5px;
    text-transform: capitalize;
}
/* Botão de Favoritar */
.favorite-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #FFD700;
    border: none;
    border-radius: 50%;
    font-size: 1.1rem;
    cursor: pointer;
    padding: 5px;
    transition: background-color 0.3s;
}

.favorite-icon:hover {
    background-color: #FFA500;
}

/* Quando o card é favorito */
.favorite-icon.favorited {
    color: red;
}




/* Estilização básica para a scrollbar */
::-webkit-scrollbar {
    width: 12px; /* Largura da barra lateral */
    height: 12px; /* Altura da barra inferior, se houver */
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: #f4f4f4; /* Cor do fundo */
    border-radius: 10px; /* Bordas arredondadas para o track */
}

/* Cor da barra de rolagem (parte que se move) */
::-webkit-scrollbar-thumb {
    background-color: #ffcc00; /* Cor da barra */
    border-radius: 10px; /* Bordas arredondadas */
    border: 3px solid #f4f4f4; /* Borda ao redor da barra para dar destaque */
}

/* Efeito ao passar o mouse sobre a barra de rolagem */
::-webkit-scrollbar-thumb:hover {
    background-color: #ff9900; /* Muda a cor ao hover */
}












/* Campo de busca e filtros */
#filters {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

#filters input, #filters select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Rodapé */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

footer p {
    font-size: 0.9rem;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.5rem;
    }

    #pokedex {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }

    .pokemon-card {
        min-height: 250px;
    }
}


header h1 {
    margin: 0;
    font-size: 2em;
}

header input, header select {
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    outline: none;
}

header input {
    width: 50%;
    max-width: 400px;
    margin-bottom: 10px;
}

header select {
    background-color: white;
    color: #333;
    cursor: pointer;
    margin: 5px;
}



.battle-link {
    padding: 10px 15px;
    background-color: #f8c545;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 20px;
}

.battle-link:hover {
    background-color: #f1b334;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Permite que os elementos se organizem em mais de uma linha, se necessário */
    padding: 10px 20px;
    padding-top: 80px;
    color: white;
}

nav input,
nav select,
nav a {
    margin: 5px;
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
}

nav input {
    flex: 1; /* Faz com que o campo de pesquisa ocupe mais espaço */
    max-width: 250px; /* Limita a largura máxima do campo de pesquisa */
}

nav select {
    min-width: 150px; /* Define uma largura mínima para os selects */
}

.battle-link {
    background-color: #f8c545;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px 15px;
}

.battle-link:hover {
    background-color: #f1b334;
}



.pokemon-card {
 /* Gradiente de cor do tipo para branco */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    height: 50vh;
    text-align: center;
    transition: transform 0.2s;
}

.pokemon-card:hover {
    transform: scale(1.05);
}

.pokemon-card img {
    width: 150px; /* Aumenta o tamanho da imagem */
    height: 150px;
}

@media (min-width: 600px) {
    header {
        flex-direction: row;
        flex-wrap: wrap;
    }

    header input {
        margin-bottom: 0;
    }

    header select {
        margin: 0 10px;
    }
}

@media (max-width: 768px) {
    nav {
        flex-direction: column; /* Empilha os elementos verticalmente em telas pequenas */
    }

    nav input,
    nav select,
    nav a {
        width: 100%; /* Faz com que os elementos ocupem toda a largura disponível */
        margin: 5px 0;
    }
}
/* Estilização do Modal */
.modal {
    display: none; /* Oculto por padrão */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo escuro translúcido */
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px); /* Efeito de desfoque no fundo */
}

.modal-content {
    background: linear-gradient(135deg, #ffcc00, #ff9900);
    color: #333;
    width: 90%;
    max-width: 450px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(255, 165, 0, 0.5);
    text-align: center;
    position: relative;
    animation: modalFadeIn 0.4s ease-in-out;
}

@keyframes modalFadeIn {
    from { transform: translateY(-30px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    background: #ff4500;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.close:hover {
    background: #cc3700;
}

#modal-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}

#modal-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: white;
    padding: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

#modal-types {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0;
    text-transform: capitalize;
}

#modal-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

#more-details-btn {
    margin-top: 15px;
    padding: 10px 20px;
    background: #ff4500;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

#more-details-btn:hover {
    background: #cc3700;
}



.banner-index{
    width: 100%;
    height: 50vh;
}
.banner-index img{
    width: 100%;
    height: 50vh;
}





/* Estilos gerais, como já definidos anteriormente */

.battle-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 10px;
}

.battle-selection select {
    padding: 10px;
    font-size: 1em;
}

.battle-selection button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #ef5350;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#battle-result {
    text-align: center;
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
}






.pokemon-type {
    /* padding: 5px 10px;
    border-radius: 12px;
    font-weight: bold; */
    color: white;
    /* display: inline-block;
    margin-right: 5px;
    text-transform: capitalize; */
}

/* Estilos específicos para cada tipo */
/* Tipos de Pokémon com gradiente de cor */
.pokemon-card.normal { background-color: #A8A878; }
.pokemon-card.fire { background-color: #F08030; }
.pokemon-card.water { background-color: #6890F0; }
.pokemon-card.grass { background-color: #78C850; }
.pokemon-card.electric { background-color: #F8D030; }
.pokemon-card.ice { background-color: #98D8D8; }
.pokemon-card.fighting { background-color: #C03028; }
.pokemon-card.poison { background-color: #A040A0; }
.pokemon-card.ground { background-color: #E0C068; }
.pokemon-card.flying { background-color: #A890F0; }
.pokemon-card.psychic { background-color: #F85888; }
.pokemon-card.bug { background-color: #A8B820; }
.pokemon-card.rock { background-color: #B8A038; }
.pokemon-card.ghost { background-color: #705898; }
.pokemon-card.dark { background-color: #705848; }
.pokemon-card.dragon { background-color: #7038F8; }
.pokemon-card.steel { background-color: #B8B8D0; }
.pokemon-card.fairy { background-color: #EE99AC; }

/* Estilo para o nome do tipo de Pokémon */
.pokemon-type {
    padding: 5px 10px;
    border-radius: 12px;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin-right: 5px;
    text-transform: capitalize;
}

.pokemon-type.normal { background-color: #A8A878; }
.pokemon-type.fire { background-color: #F08030; }
.pokemon-type.water { background-color: #6890F0; }
.pokemon-type.grass { background-color: #78C850; }
.pokemon-type.electric { background-color: #F8D030; }
.pokemon-type.ice { background-color: #98D8D8; }
.pokemon-type.fighting { background-color: #C03028; }
.pokemon-type.poison { background-color: #A040A0; }
.pokemon-type.ground { background-color: #E0C068; }
.pokemon-type.flying { background-color: #A890F0; }
.pokemon-type.psychic { background-color: #F85888; }
.pokemon-type.bug { background-color: #A8B820; }
.pokemon-type.rock { background-color: #B8A038; }
.pokemon-type.ghost { background-color: #705898; }
.pokemon-type.dark { background-color: #705848; }
.pokemon-type.dragon { background-color: #7038F8; }
.pokemon-type.steel { background-color: #B8B8D0; }
.pokemon-type.fairy { background-color: #EE99AC; }




/* estilização da paginação */

.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #2a75bb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
}

button:disabled {
    background-color: #ccc;
}

#current-page {
    font-size: 18px;
}


























/* Estilização do rodapé */
footer {
    background-color: #282828; /* Ajuste a cor de fundo para combinar com o site */
    color: #f4f4f4; /* Texto mais claro para contraste */
    padding: 40px 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content {
    flex: 1;
    margin: 10px;
}

.footer-content h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #ffcc00; /* Cor do título para combinar com a temática Pokémon */
}

.footer-content p {
    font-size: 1rem;
    line-height: 1.5;
}

.footer-social {
    flex: 1;
    margin: 10px;
}

.footer-social h4 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #ffcc00;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icons a img {
    width: 30px;
    height: 30px;
    filter: invert(80%); /* Faz com que os ícones combinem com o fundo escuro */
    transition: transform 0.3s ease, filter 0.3s ease;
}

.social-icons a img:hover {
    transform: scale(1.1);
    filter: invert(50%); /* Efeito de hover nos ícones, destaque com o hover */
}

.footer-links {
    flex: 1;
    margin: 10px;
}

.footer-links h4 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #ffcc00;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    color: #f4f4f4;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links ul li a:hover {
    color: #ffcc00; /* Cor de destaque ao passar o mouse */
}

.footer-bottom {
    margin-top: 40px;
    font-size: 0.9rem;
    border-top: 1px solid #444;
    padding-top: 20px;
    color: #ccc;
}

.footer-bottom p {
    margin: 0;
}

/* Responsividade */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }
    #pokedex {
        grid-template-columns: 1fr; /* No mobile, apenas 1 coluna */
    }
}

